 <html>
    <head>
      <title>Find by unit test</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <img id="logo" src="{{ url_for('static', filename='miarki_kumple.png') }}"></img><br />
        <div style="text-align: center;">
          <div id="container" style="display: inline-block;">
            <div id="content" style="text-align: left;">
              <div class="title">
                  <h1>Unit test</h1>
              </div>

              <code><pre>
{{code}}
              </pre></code>

              <div class="title">
                  <h1>Results</h1>
              </div>
              <div class="results">
                    {% for res in result %}
                    {{res['name']}}: {{res['path']}}<br>
                    {% endfor %}
              </div>
          </div>
        </div>
    </body>
</html>
