 <html>
    <head>
      <title>Find by unit test</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <img id="logo" src="{{ url_for('static', filename='miarki_kumple.png') }}"></img><br />
        <div id="container">
            <div class="title">
                <h1>Content</h1>
            </div>

            <code><pre>
{{code}}
            </pre></code>

            <div class="title">
                <h1>Results</h1>
            </div>
            <div id="content">
{{result}}
            </div>
        </div>
    </body>
</html>
