<html>
    <head>
        <title>Runner frontend</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('backend') }}">
                  <label for="code">Type your unit test.</label>
                  <textarea name="code" rows="5" cols="60">assert(FUNCTION("abc def") == "Abc Def")</textarea><br />
                  <input type="submit" />
                </form>
            </div>
            <div class="title">
                <h1>Flask code</h1>
            </div>
                <code><pre>
                </pre></code>
            </div>
        </div>
    </body>
</html>
 
